{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		TeX: {
			equationNumbers: {  autoNumber: "AMS"  },
			extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
		}
	});
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<h1>{{ name }}</h1>
<p>
	{% if statement == null %}
	Erreur : problème non initialisé...
	{% else %}
	{{ statement|safe }}
	{% endif %}
</p>

<div class="row">
	<div class="col-md-4">
		<form class="form form-horizontal" method="post" role="form">
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.redo) }}
			{% if solution == None %}
			{{ wtf.form_field(form.submit) }}
			{% endif %}
		</form>
	</div>
</div>

{% if solution != None %}
<h2>
	Solution
</h2>
<p>
	{{ solution|safe }}
</p>
{% endif %}

{% endblock %}